body {
  margin: 0;
}

.contact {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../Images/bg2.webp");

  h1 {
    color: black;
    display: flex;
    justify-content: center;
    margin: 30px;
  }
}

.contactoForm {
  border: 2px solid dimgrey;
  width: 50%;
  padding: 20px;
  height: 710px;
  margin: 4px;
}

form {
  display: grid;
  justify-items: center;
  background-color: black;
  padding: 15px;
}

.message {
  padding-bottom: 160px;
}

form input {
  margin: 10px;
  width: 90%;
  align-items: center;
  padding: 20px;
  margin-block: 0.5rem;
  outline: none;
  border: none;
}

@media screen and (max-width: 1558px) {
  .contact h1 {
    margin: 20px;
    font-size: 35px;
  }
}

@media screen and (max-width: 1498px) {
  .contact h1 {
    margin: 20px;
    font-size: 25px;
  }

  .contactoForm {
    height: 615px;
  }

  .contact {
    display: flex;
    justify-content: space-around;
  }

  .message {
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 1142px) {
  .contact h1 {
    margin: 16px;
    font-size: 18px;
    text-align: center;
  }

  .message {
    padding-bottom: 20%;
  }

  .contactoForm {
    width: 50%;
    padding: 15px;
    height: 600px;
  }

  .contactoForm form input {
    margin: 10px;
    width: 90%;
    padding: 18px;
  }
}

@media screen and (max-width: 1116px) {
  .contact h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 631px) {
  .contact h1 {
    margin: 5px;
    font-size: 18px;
  }

  .contact {
    background-position: unset;
  }

  .contactoForm form input {
    margin: 10px;
    width: 90%;
    padding: 10px;
    font-size: 8px;
  }

  .contactoForm button {
    padding: 5px 16px;
  }
  .contactoForm {
    height: 410px;
  }
}

@media screen and (max-width: 375px) {
  .contact h1 {
    margin: none;
    font-size: 16px;
  }
  .contactoForm {
    width: 90%;
  }
}
